@model ErrorViewModel
@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Employee request was deleted.</h2>


